.backgroundcliptext .pink {

  background: url('../assets/images/gradients/pinkpurple.png');

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  color: white;
}

.rollOver {

  $time: .2s;

  -moz-transition: all $time ease-in;
  -o-transition: all $time ease-in;
  -webkit-transition: all $time ease-in;
  transition: all $time ease-in;

  &:hover {
    color: $rollover !important;
  }
}

.mobile-message {
  background-color: $white;
  color: $black;
  position: fixed;
  z-index: $z-index-mobile-menu + 1;
  img {

    width: 100px;
  }
}

ul {
  &.horizontal {

    padding: 0;

    li {
      font-size: 13px;
      display: inline-block;
      padding-bottom: 20px;

      @media screen and (max-width: $screen-md) {
        padding-bottom: 30px;
      }
      @media screen and (max-width: $screen-sm) {

        font-size: 10px;

      }
      @media screen and (max-width: $screen-xs-max) {

      }

      &:not(:first-child):before {
        content: '\00a0\2022\00a0\00a0';
      }
    }
  }
}
