<div class="js-content ">

    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0009_client_nike.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0001_client_vice.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0013_client_google_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0003_client_toyota_vert_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0007_client_red_bull_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0019_client_adidas_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0008_client_oculus_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0017_client_beats_by_dre_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0018_client_amazon_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0011_client_land_rover_solid_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0002_client_verizon_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0010_client_microsoft_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0016_client_cocacola_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0012_client_honda_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0014_client_gillette_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0006_client_starbucks_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0000_client_vitamin_water_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0005_client_target_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0004_client_time_logo.png'></div></div>
    <div class='js-client client'><div class='js-idol-element'> <img src='CDN_PATH/assets/images/clients/_0015_client_GE_logo.png'></div></div>
</div>