<div class="content js-content center-horizontal-vertical">
    <div class="js-logos logos">
        <svg class="client">
            <use xlink:href="#clients--client_GE_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_adidas_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_amazon_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_beats_by_dre_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_cocacola_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_gillette_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_google_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_honda_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_land_rover_solid_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_microsoft_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_nike"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_oculus_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_red_bull_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_starbucks_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_target_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_time_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_toyota_vert_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_verizon_logo"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_vice"/>
        </svg>
        <svg class="client">
            <use xlink:href="#clients--client_vitamin_water_logo"/>
        </svg>

    </div>

</div>
