<div class="js-close close"></div>
<div class="js-content content">

    <div class="js-main main">
        <h1 class="bold question">
        If anything was possible, what would you do?
        </h1>
        <p class="js-contact-link link regular rollOver pink">Begin the conversation</p>
    </div>

    <div class="js-foster foster hidden">
        <h1>FOSTERING PROGRAM</h1>

        <div>
            Idol is committed to giving back, both within it’s community and industry as a whole. Students, juniors, and
            young entrepreneurs are encouraged to visit us for scheduled reviews and work sessions to help foster
            emerging talent that can someday change the world. Evening industry events are also hosted for influencers
            with special guests speakers, cocktails and appetizers. To learn more about these events and opportunities
            contact us.
        </div>
    </div>

    <div class="js-contact contact-options hidden">
        <h1>CONTACT</h1>

        <div class="container">
            <div class="row">
                <div class="one-half column">
                    <span class="sort pink">NEW BUSINESS</span>
                    <span class="small">Matt Walsh</span>
                    <span class="small">310.913.3177</span>
                    <a href="mailto:inquire@idol.partners"><span class="small rollOver">inquire@idol.partners</span></a>
                </div>
                <div class="one-half column ">
                    <span class="sort pink">GENERAL INQUIRIES</span>
                    <span class="small">11603 1/2 La Grange Ave.</span>
                    <span class="small">Los Angeles, CA 90025</span>
                    <a href="mailto:hello@idol.partners"> <span class="small rollOver">hello@idol.partners</span></a>
                </div>
            </div>
        </div>


    </div>


</div>
<footer class="js-footer desktop">
    <span class="left copyright"><span class="bold">© 2016 IDOL™ </span><span class="">| All Rights Reserved</span></span>


    <span class="js-foster-link link right light rollOver">FOSTER PROGRAM</span>
</footer>

<footer class="js-footer mobile">
    <span class="js-foster-link link  light ">FOSTER PROGRAM</span>
    <span class=" copyright"><span class="bold">© 2016 IDOL™ </span><span class="">| All Rights Reserved</span></span>


</footer>
