<div class="js-hero-content full">
    <div class="js-video-holder full video-holder">

        <video autoplay loop class="js-hero-video hero-video">

        </video>
    </div>

    <div class="js-logo-animation logo-animation flex-container horizontal vertical js-scroll-element">
        <div class="js-letter letter">I</div>
        <div class="js-letter letter">D</div>
        <div class="js-letter js-logo-holder letter logo-holder">
            <span class="js-client-logo client-logo flex-container horizontal vertical clear hidden">O</span>
            <img src="CDN_PATH/assets/images/landing/adidas.png"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="CDN_PATH/assets/images/landing/beats.png"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="CDN_PATH/assets/images/landing/cocacola.png"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="CDN_PATH/assets/images/landing/hp.png"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="CDN_PATH/assets/images/landing/nike.png"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="CDN_PATH/assets/images/landing/starbucks.png"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="CDN_PATH/assets/images/landing/target.png"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="CDN_PATH/assets/images/landing/toyota.png"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
            <img src="CDN_PATH/assets/images/landing/vizio.png"
                 class="js-client-logo client-logo flex-container horizontal vertical hidden">
        </div>
        <div class="js-letter letter">L</div>
    </div>


    <footer class="js-footer">
        <span class="left "><span class="bold">Los Angeles</span><span class="light"> by appointment only</span></span>
        <span class="right bold inquire js-inquire rollOver">Inquire</span>
    </footer>

</div>

<div class="js-manifesto manifesto hidden">

    <div class="content text">

        <h1>Idol. Brand & Product Design, backed by Strategy.</h1>

        <p>
            Idol is a turnkey, design-centric, creative solution. We’re not an ad agency or production company. We’re in the business of making companies better by delivering results that substantially increase the value of their offering. We build products, elevate brands, and accelerate growth. We truly believe our biggest measure of success is your success. <span class="pink">We are the special sauce.</span>
        </p>
    </div>


</div>
