<div class="hero">

    <video autoplay loop class="js-hero-video hero-video">
        <source src="http://cache3.asset-cache.net/xd/509521572.mp4?v=1&c=IWSAsset&k=2&d=62CA815BFB1CE480E843060C6540FC79D6D7111452E48A17E7158B26F3B22D79C3D5AD9899C41682"
                type="video/mp4">
        <source src="http://www.w3schools.com/tags/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <div class="js-logo-animation logo-animation">
        <div class="js-letter letter">I</div>
        <div class="js-letter letter">D</div>
        <div class="js-letter js-logo-holder letter logo-holder"></div>
        <div class="js-letter letter">L</div>
    </div>

</div>
