<div class="js-hero-content full">

    <video autoplay loop class="js-hero-video hero-video">
        <source src="CDN_PATH/assets/video/hero.mp4"
                type="video/mp4">
        <source src="Cgulp aDN_PATH/assets/video/hero.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>

    <div class="js-logo-animation logo-animation">
        <div class="js-letter letter">I</div>
        <div class="js-letter letter">D</div>
        <div class="js-letter js-logo-holder letter logo-holder">
            <span class="js-client-logo client-logo clear hidden">O</span>
            <img src="CDN_PATH/assets/images/landing/adidas.png" class="js-client-logo client-logo hidden">
            <img src="CDN_PATH/assets/images/landing/beats.png" class="js-client-logo client-logo hidden">
            <img src="CDN_PATH/assets/images/landing/cocacola.png" class="js-client-logo client-logo hidden">
        </div>
        <div class="js-letter letter">L</div>
    </div>


    <footer class="js-footer">
        <span class="left "><span class="bold">Los Angeles</span><span class="light"> by appointment only</span></span>
        <span class="right bold inquire js-inquire rollOver">inquire</span>
    </footer>

</div>

<div class="js-manifesto manifesto hidden">

    <div class="content text">

        <h1>A world where anything is possible.</h1>

        <p>
            As a collective of top-tier industry veterans, we offer a diverse, forward-facing vision the market has yet
            to
            see. Our combined experience cultivates priceless insights that move the needle. <span class="pink">We are the special sauce.</span>
        </p>
    </div>



</div>
