<div class="js-menu menu no-select full">


    <ul>
        <li data-anchor="about">ABOUT</li>
        <li data-anchor="clients">CLIENTS</li>
        <li data-anchor="work">WORK</li>
        <li data-anchor="offerings">OFFERINGS</li>
        <li data-anchor="principals">PRINCIPALS</li>
        <li data-anchor="contact">CONTACT</li>
    </ul>
</div>

<div class="icon-holder">

    <button class="js-hamburger  no-select hamburger hamburger--squeeze" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
    </button>
</div>