<div class="content text js-content">
    <div class="copy">
        <h1 class="js-title pink">PRINCIPALS</h1>
        <ul class="bold big ">
            <li class="inline-block">Matthew Walsh <span class="regular big">Managing Partner</span></li>
            <li class="inline-block">Josh Held <span class="regular big">Venture Partner</span></li>
            <li class="inline-block">Scott Pargett <span class="regular big">Creative Director</span></li>
            <li class="inline-block">Brad Burke <span class="regular big">Director of Design</span></li>
            <li class="inline-block">Abe cortez <span class="regular big">Director of Product</span></li>
        </ul>
    </div>
</div>