<div class="js-bg principals-colored-bg hidden"></div>

<div class="js-mugshot mugshot">
    <img class='hidden matt' src="CDN_PATH/assets/images/principals/Matt_Walsh.jpg">
    <img class='hidden josh' src="CDN_PATH/assets/images/principals/Josh_Held.jpg">
    <img class='hidden scott' src="CDN_PATH/assets/images/principals/Scott_Pargett.jpg">
    <img class='hidden brad' src="CDN_PATH/assets/images/principals/Brad_Burke.jpg">
    <img class='hidden abe' src="CDN_PATH/assets/images/principals/Abe_Cortez.jpg">
</div>
<div class="js-mobile mobile flex-container  vertical">

    <div class="copy ">
        <h1 class="js-title ">
            <span class="pink">PRINCIPALS</span>
        </h1>

        <ul class="js-names bold big ">
            <li class="no-select js-scroll-element " data-person="matt">
                <span class="name">MATTHEW WALSH</span>
                <span class="title">Managing Partner</span></li>
            <li class="no-select js-scroll-element " data-person="josh">
                <span class="name">JOSH HELD </span>
                <span class="title">Venture Partner</span>
            </li>
            <li class="no-select js-scroll-element " data-person="scott">
                <span class="name">SCOTT PARGETT</span>
                <span class="title">Creative Director</span>
            </li>
            <li class="no-select js-scroll-element " data-person="brad">
                <span class="name">BRAD BURKE</span>
                <span class="title">Director of Design</span>
            </li>
            <li class="no-select js-scroll-element " data-person="abe">
                <span class="name">ABE CORTES</span>
                <span class="title">Director of Product</span>
            </li>
        </ul>
    </div>
</div>

    <div class="js-desktop desktop content text js-content">
        <div class="js-copy copy">
            <h1 class="js-title ">

                <span class="pink">PRINCIPALS</span>
            <span class="callout
            ">
            Solutions that move the needle and create <span class="bold">measured impact.</span>
            </span>
            </h1>

            <ul class="js-names bold big ">
                <li class="no-select js-scroll-element rollOver" data-person="matt">
                    MATTHEW WALSH
                    <span>Managing Partner</span></li>
                <li class="no-select js-scroll-element rollOver" data-person="josh">
                    JOSH HELD
                    <span>Venture Partner</span>
                </li>
                <li class="no-select js-scroll-element rollOver" data-person="scott">
                    SCOTT PARGETT
                    <span>Creative Director</span>
                </li>
                <li class="no-select js-scroll-element rollOver" data-person="brad">
                    BRAD BURKE
                    <span>Director of Design</span>
                </li>
                <li class="no-select js-scroll-element rollOver" data-person="abe">
                    ABE CORTES
                    <span>Director of Product</span>
                </li>
            </ul>
        </div>
        <div class="js-info-holder info-holder hidden">

            <h1 class="white">PRINCIPALS</h1>

            <div class="info matt js-info">
                <span class="bold title">MATTHEW WALSH</span><span>Managing Partner</span>
                <span class="regular copy">Matt got his start pioneering internet video, creating the first ever HD video player long before YouTube with the hit site Gametrailers.com. After disrupting the industry post acquisition, he continued to innovate tech products for many startups. Since then Matt has worked for many of the hottest brands and agencies in the industry, optimizing their workflows and executing global campaigns. </span>
                <ul class="horizontal">
                    <li>72&SUNNY</li>
                    <li>RESN</li>
                    <li>SAATCHI & SAATCHI</li>
                </ul>
            </div>

            <div class="info josh js-info">
                <span class="bold title">JOSH HELD</span><span>Venture Partner</span>
                <span class="regular copy">Josh has set out to change the course of industry by avoiding novelty and focusing on big-picture technological innovation. He is a proven product builder with unparalleled access to powerful relationships and non-traditional distribution channels, which accelerate product visibility and intrinsic value. His focus at IDOL is product development, licensing infrastructure & venture strategy. </span>
                <ul class="horizontal">
                    <li>JP MORGAN</li>
                    <li>CHEMISTRY HOLDINGS</li>
                    <li>BOON VODKA</li>
                </ul>
            </div>

            <div class="info scott js-info">
                <span class="bold title">SCOTT PARGETT</span><span>Creative Director</span>
                <span class="regular copy">Creative Director Scott is a multifaceted Creative Director and Designer with over 10 years of professional experience in the creative industry. His background is a perfectly chaotic blend of art, music, fashion, and rebellious culture, ranging from startups to leading projects for top-tier advertising agencies. Bringing experience and passion in tech, interactive, and humanity, Scott brings a unique and priceless competitive vision.</span>

                <ul class="horizontal">
                    <li>RAZORFISH</li>
                    <li>SAATCHI & SAATCHI</li>
                    <li>DAVID & GOLIATH</li>
                </ul>
            </div>

            <div class="info brad  js-info">
                <span class="bold title">BRAD BURKE</span><span>Director of Design</span>
                <span class="regular copy"> A versatile and passionate Creative Director & Product Designer, Brad has over 10 years of professional experience at some of the most highly awarded advertising agencies. During his career he has designed and directed rich, digital experiences and unified brand systems. Now focusing on the tech landscape, Brad helps to define and develop software, platforms, and products that transform industries.</span>

                <ul class="horizontal">
                    <li>RAZORFISH</li>
                    <li>SAATCHI & SAATCHI</li>
                    <li>AKQA</li>
                    <li>R/GA</li>
                </ul>
            </div>

            <div class="info abe js-info">
                <span class="bold title">ABE CORTES</span><span>Director of PRODUCT</span>
                <span class="regular copy"> An award winning designer and entrepreneurial creative with 10 years of experience, Abe has designed applications and online platforms for major global brands. Recently, he co-founded Pairchute, a startup that allows users to directly monetize their content without the use of ads. With his background in advertising, product development, and tech, Abe can work from strategy right through final product launch.</span>
                <ul class="horizontal">
                    <li>RAZORFISH</li>
                    <li>STOPP LA</li>
                    <li>SAATCHI & SAATCHI</li>
                </ul>
            </div>

        </div>


    </div>
