<div class=" text js-content">
    <div class="copy js-scroll-element">

        <ul class="horizontal">
            <li><span class="item">RESEARCH</span></li>
            <li><span class="item">EXECUTE</span></li>
            <li><span class="item">LAUNCH</span></li>
            <li><span class="item">EVOLVE</span></li>
        </ul>

        <span class="services-copy js-copy js-scroll-element">Product, Creative Direction, Brand Elevation, Positioning & Strategy, Visual Identity Systems, Display + Social, SAAS, Information Architecture, Native Application, Branded Content Creation, Design Management / Consulting, Development, Experiential + Physical, Campaign Ideation, and Securities.</span>
    </div>
</div>
<canvas id="services-canvas" width="500" height="300"></canvas>
