<div class=" text js-content">
    <div class="copy">

        <ul>
            <li>RESEARCH</li>
            <li>EXECUTE</li>
            <li>LAUNCH</li>
            <li>EVOLVE</li>
        </ul>

        <span>Product, Creative Direction, Brand Elevation, Positioning & Strategy, Visual Identity Systems, Display + Social, SAAS, Information Architecture, Native Application, Branded Content Creation, Design Management / Consulting, Development, Experiential + Physical, Campaign Ideation, and Securities.</span>
    </div>
</div>
<canvas id="services-canvas" class="bla" width="500" height="300"></canvas>
