<div class=" text js-content">

    <ol class="horizontal">
        <li><span class="item">1. RESEARCH</span></li>
        <li><span class="item">2. DEFINE</span></li>
        <li><span class="item">3. EXECUTE</span></li>
        <li><span class="item">4. EVOLVE</span></li>
    </ol>

    <ul class="horizontal">
        <li><span class="item">RESEARCH</span></li>
        <li><span class="item">DEFINE</span></li>
        <li><span class="item">EXECUTE</span></li>
        <li><span class="item">EVOLVE</span></li>
    </ul>
    <div class="copy js-scroll-element">


        <span class="services-copy js-scroll-element">Product, Creative Direction, Brand Elevation, Positioning & Strategy, Visual Identity Systems, Display + Social, SAAS, Information Architecture, Native Application, Branded Content Creation, Design Management / Consulting, Development, Experiential + Physical, Campaign Ideation, and Securities.</span>
    </div>
</div>
