<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>I D O L</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="CDN_PATH/css/styles.min.css">


    <!-- build:js CDN_PATH/js/default.min.js -->
    <script src="../scripts/libs/device.min.js"></script>
    <script src="../scripts/vendor/modernizr-custom.js"></script>
    <!-- endbuild -->



    <link rel="icon" href="CDN_PATH/assets/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="CDN_PATH/assets/images/favicon.ico" type="image/x-icon"/>

<body>


<div id="js-container" class="container full">

    <div class="js-mobile-message hidden mobile-message full flex-container vertical horizontal">
        <img src="CDN_PATH/assets/images/mobile/rotate.png">
    </div>
    <div class="js-app-container-desktop applicationNode hidden">

        <div class="js-cursor-view cursor-view"><img src="CDN_PATH/assets/images/cursor.png" class="js-cursor"></div>

        <div id="home" class="js-hero section full hero ">
            @@include('./includes/hero.html')
        </div>

        <div id="about" class="js-manifest section flex-container vertical  manifesto">
            @@include('./includes/manifesto.html')
        </div>

        <div id="clients" class="js-clients section flex-container vertical clients">
            @@include('./includes/clients.html')
        </div>

        <div id="work" class="js-portfolio section full portfolio">
            @@include('./includes/portfolio.html')
        </div>

        <div id="offerings" class="js-services flex-container vertical horizontal services">
            @@include('./includes/services.html')
        </div>

        <div id="principals" class="js-principals full no-select section principals ">
            @@include('./includes/principals.html')
        </div>

        <div id="contact" class="js-contact full section contact">
            @@include('./includes/contact.html')
        </div>

        <div class="js-mobile-menu no-select mobile-menu">
            @@include('./includes/mobile_menu.html')
        </div>


    </div>
</div>

<!-- build:js CDN_PATH/js/vendor.min.js-->
<!-- endbuild -->

<script src="CDN_PATH/js/bundle.min.js"></script>

</body>
</html>
