@import "variables";

.js-idol-element {
    a {
        width: 80%;
        padding-right: 8px;
        color: white;

    }
}

.contact {

  position: relative;
  min-height: 100%;
  //background-attachment: fixed;
  background-image: url("../assets/images/contact/background.jpg");
  background-position: center;
  background-size: cover;
  background-color: $black;
  color: $white;

  .video-holder {
    position: absolute;
    overflow: hidden;
  }

  & h1 {
    padding-bottom: 10px;
    @media screen and (min-width: 1400px) {

      font-size: 60px;
    }
  }
  p {
    &.big {
      font-size: 40px;
      @media screen and (min-width: 1400px) {

        font-size: 60px;
      }
    }
  }

  footer {
    color: #848484;
    &.desktop {
      display: none;
      @media screen and (min-width: $screen-xs-max) {
        display: inherit;
        padding-left: $left-padding;
        @media screen and (min-width: $screen-md-max) {
          padding-left: $left-padding-static;
        }
      }
    }
    &.mobile {
      display: none;

      & .copyright {
        display: inline-block;
      }
      & .link {
        display: inline-block;
        &.foster {
          text-decoration: none;
        }
      }
      @media screen and (max-width: $screen-xs-max) {
        display: inherit;
      }
    }
  }

  @media screen and (min-width: $screen-md) {

    font-size: 40px;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  .close {
    width: 100%;
    height: 100%;
    position: absolute;
    //background-color: red;
  }

  & .column {
    padding-bottom: 40px;
  }

  .content {
    position: absolute;

    width: 70%;
    max-width: 800px;

    top: 50%;
    //left: 50%;
    transform: translate(0, -50%);

    margin-left: $left-padding;
    @media screen and (min-width: $screen-md-max) {
      margin-left: $left-padding-static;
    }

    .foster {

      div {
        //font-family: GothamLight;
        font-size: 25px;
        max-width: 700px;

        @media screen and (max-width: $screen-xs-max) {
          font-size: 18px;
        }
      }

      h1 {
        font-size: 44px;
        padding-bottom: 0px;


      }

      .underline {
        text-decoration: underline;
      }
    }

    .contact-options {

      //width: 600px;

      & .c-column {
        width: 330px;
        float: left;
        padding-bottom: 20px;
      }

      font-family: GothamLight;
      font-size: 16px;
      span {
        display: block;
      }

      & h1 {
        font-size: 74px;
        padding-bottom: 30px;

        @media screen and (min-width: $screen-lg) {
          font-size: 112px;
        }

        @media screen and (max-width: $screen-xs-max) {
          font-size: 40px;
        }
      }

      .sort {
        font-family: 'GothamBold';
        font-size: 26px;
      }

    }
  }

  .question {
    display: inline-block;
    padding-bottom: 10px;

  }

  .link {
    cursor: pointer;
    text-decoration: underline;
    color: $white;
    &.foster {
      text-decoration: none;
    }
  }
}
