@import "variables";

.principals {

  color: $white;
  overflow: hidden;

  h1 {

    font-size: 95px;
    @media screen and (max-width: $screen-xs-max) {
      font-size: 40px
    }
  }
  ul {
    font-size: 28px;
    padding-top: 14px;

    @media screen and (max-width: $screen-xs-max) {

      font-size: 15px;
    }

    span {
      font-family: MillerDisplay;
      font-size: 23px;
      @media screen and (max-width: $screen-xs-max) {
        font-size: 12px;

      }
    }
  }

  canvas {
    position: absolute;
    top: 0;
  }

  .mugshot {
    right: 0;
    &.matt {
      background-image: url("../assets/images/principals/Matt_Walsh.jpg");
    }
    &.josh {
      background-image: url("../assets/images/principals/Josh_Held.jpg");
    }
    &.scott {
      background-image: url("../assets/images/principals/Scott_Pargett.jpg");
    }
    &.brad {
      background-image: url("../assets/images/principals/Brad_Burke.jpg");
    }
    &.abe {
      background-image: url("../assets/images/principals/Abe_Cortez.jpg");
    }
    //background-position: center;
    background-size: cover;

    width: 55%;
    max-width: 800px;
    height: 100%;
    //right: 0;
    position: absolute;

  }

  $content-offset-left: 10%;


  .content {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    padding-left: $content-offset-left;
    position: static;

    .copy {
      overflow: hidden;

      ul {
        // padding-left: 20px;

        li {
          display: block;
          color: $black;
          cursor: pointer;
        }
      }

    }
  }

  .info-holder {
    pointer-events: none;
    position: absolute;
    top: 0;
    //the margin lft is set by code
    //margin-left: 144px;

    .name {
      font-family: GothamBold;
    }
    .info {
      display: inline-block;
      padding-top: 20px;
    }
  }

}
