@import "variables";

.principals {

  color: $black;
  overflow: hidden;

  h1 {

    font-size: 95px;
    @media screen and (max-width: $screen-xs-max) {
      font-size: 40px
    }
  }
  ul {
    font-size: 28px;
    padding-top: 14px;

    @media screen and (max-width: $screen-xs-max) {

      font-size: 15px;
    }

    span {
      font-family: MillerDisplay;
      font-size: 23px;

      @media screen and (max-width: $screen-xs-max) {
        font-size: 12px;

      }
    }
  }

  canvas {
    position: absolute;
    top: 0;
  }

  .mugshot {
    position: absolute;
    background-size: cover;
    right: 0;
    width: 47%;
    max-width: 800px;
    height: 100%;

    img {
      width: 100%;
    }

    //&.matt {
    //  background-image: url("../assets/images/principals/Matt_Walsh.jpg");
    //}
    //&.josh {
    //  background-image: url("../assets/images/principals/Josh_Held.jpg");
    //}
    //&.scott {
    //  background-image: url("../assets/images/principals/Scott_Pargett.jpg");
    //}
    //&.brad {
    //  background-image: url("../assets/images/principals/Brad_Burke.jpg");
    //}
    //&.abe {
    //  background-image: url("../assets/images/principals/Abe_Cortez.jpg");
    //}

  }

  .content {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    margin-left: $left-padding;
    position: static;
    @media screen and (min-width: $screen-md-max) {
      margin-left: $left-padding-static;
    }

    .copy {
      overflow: hidden;
      display: inline-block;

      ul {

        li {
          display: block;
          color: $black;
          cursor: pointer;
        }
      }

    }
  }

  .info-holder {
    pointer-events: none;
    position: absolute;
    top: 0;
    color: $white;

    div {
      padding-top: 17px;
    }

    .content {
    }

    .copy {
      padding-top: 30px;
    }

    .title {
      padding-right: 20px;
    }

    .info {
      display: inline-block;
      padding-top: 20px;
    }
  }

}
