@import "variables";

.services {

  position: relative;
  min-height: 100%;

  canvas {
    position: absolute;
    top: 0;
  }

  .text {

    display: inline-block;
    position: relative;
    padding: 0;
    width: 100%;
    z-index: 1;

    ul {
      li {
        display: inline-block;
        &:not(:first-child):before {
          content: '\00a0\2022\00a0\00a0';
        }
      }
    }

    .copy {
      text-align: center;
      color: $white;

      width: 95%;
      padding: 0;

      z-index: 99;

      //position: absolute;
      //top: 50%;
      //left: 50%;
      //transform: translate(-50%, -50%);

      ul {
        padding: 0;

        li {
          display: inline-block;
          padding-right: 50px;
          padding-bottom: 70px;

          @media screen and (max-width: $screen-md) {
            padding-right: 30px;
            padding-bottom: 30px;
          }
          @media screen and (max-width: $screen-sm) {

            padding-right: 0px;
            font-size: 13px;

          }
          @media screen and (max-width: $screen-xs-max) {

          }

        }
      }

      span {
        width: 80%;
        display: inline-block;

      }
    }

  }
}
