@import "variables";

.services {

  position: relative;
  min-height: 100%;
  overflow: hidden;
  canvas {
    position: absolute;
    top: 0;
  }

  .text {

    display: inline-block;
    position: relative;
    padding: 0;
    width: 100%;
    z-index: 1;
    padding-top: 20px;

    .copy {
      text-align: center;
      color: $white;

      width: 100%;
      padding: 0;

      z-index: 99;

      ul {
        padding: 0;

        li {
          font-size: 13px;
          display: inline-block;
          padding-bottom: 20px;

          @media screen and (max-width: $screen-md) {
            padding-bottom: 30px;
          }
          @media screen and (max-width: $screen-sm) {

            font-size: 10px;

          }
          @media screen and (max-width: $screen-xs-max) {

          }

          &:not(:first-child):before {
            content: '\00a0\2022\00a0\00a0';
          }
        }
      }

      .item {
        //width: 80%;
        display: inline-block;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;

        @media screen and (max-width: $screen-md) {
          padding-left: 2px;
          padding-right: 2px;
        }

      }

      .services-copy {
        display: inline-block;
        width: 80%;
        max-width: 570px;

      }
    }

  }
}
