@import "variables";

.services {

  color: $white;
  position: relative;
  background-image: url("../assets/images/gradients/static_bg.png");
  background-size: cover;
  min-height: 100%;
  width: 100%;

  padding-top: $min-top-bottom-padding;
  padding-bottom: $min-top-bottom-padding;

  padding-left: 40px;
  padding-right: 40px;

  text-align: center;

  @media screen and (min-width: $screen-md-max) {

    //padding-left: $left-padding-static;
    font-size: $font-lg;
  }

  @media screen and (max-width: $screen-xs-max) {
    background-image: url("../assets/images/mobile/mobile_bg.png");
    text-align: left;
    padding-left: $left-padding-mobile;
    padding-right: 20px;
  }

  ul {
    letter-spacing: 3px;
    @media screen and (max-width: $screen-xs-max) {
      display: none;
    }
  }

  ol {
    font-family: GothamBold;
  //  letter-spacing: 3px;
  //  padding-right: 14px;
    font-size:18px;

    @media screen and (min-width: $screen-sm) {
      display: none;
    }
    li {
      display: inline;
      margin-right: 25px;
      line-height: 39px;

      &:nth-child(2):after {
        content: "\A";
        white-space: pre;
      }
      @media screen and (max-width: 321px) {
        font-size: 15px;
      }
    }
  }

  .text {

    .copy {

      .item {

        display: inline-block;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;

        @media screen and (max-width: $screen-md) {
          padding-left: 2px;
          padding-right: 2px;
        }

      }

      .services-copy {
        display: inline-block;
        max-width: 570px;

        @media screen and (min-width: $screen-lg) {
          max-width: 830px;
        }

      }
    }

  }
}
