//Z-indexes go here
$z-index-footer: 9000;
$z-index-mobile-menu: 9500;
$z-index-cursor: 10000;

//End Z-indexes

$header-height: 100px;

//calculate
$left-padding-static: 194px;
$left-padding: 10%;

//Font Sizes

/* Screen Sizes */
$screen-xs-max: 767px;
$screen-sm: 768px;
$font-sm: 20px;

$screen-sm-max: 991px;
$screen-md: 992px;
$screen-md-max: 1199px;
$font-md: 24px;

$screen-lg: 1920px;
$font-lg: 30px;

$black: #000000;
$rollover: #df587c;
$semi-black: #2c2c2c;
$grey: #7e7e7e;
$white: #ffffff;
